.header a {
  transition: color .2s ease-out .1s;
}

.header__line {
  border-bottom: 1px solid #EDEDED;
}

.wrapper {
  width: 100%;
  max-width: 1530px;
  margin: 0 auto;
}

/*header top*/
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
}

.header__top__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 760px;
}

.navigation-site {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 484px;
}

.navigation-site a {
  font: 400 16px/18px Ubuntu;
  text-decoration: none;
  color: #5B5B5B;
}

.header__top__content .phone-item a {
  font: 400 20px/23px Ubuntu;
  transition: opacity .2s ease .1s;
  color: #222222;
}

.header__top__content .phone-item a:hover {
  color: #DF570E;
}

.header__top__content .store {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__top__content .store span {
  position: absolute;
  font: 400  11px/13px 'Ubuntu';
  color: #728090;
  bottom: -14px;
}

.city {
  position: relative;
  padding-left: 27px;
}

.city .city-name {
  font: 500 16px/18px 'Ubuntu';
  color: #E35910;
}

.header .city:before {
  content: '';
  position: absolute;
  background-image: url("/assets/svg/city-logo.svg");
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  left: 0;
  top: 0;
}

.country-block {
  position: relative;
}
.country__img {
  display: flex;
}
.country__img img {
  width: 20px;
}
.country__text {
  font: 400 11px/13px 'Ubuntu';
  color: #728090;
  margin-bottom: 2px;
}
.country__current {
  display: flex;
  align-items: center;
}
.country__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #E35910;
  border-bottom: 1px dashed #E35910;
  margin-left: 5px;
  cursor: pointer;
}
.country__name:hover {
  border-bottom: 1px dashed transparent;
}

@media screen and (max-width: 1550px) {
  .header__top {
    padding: 14px 24px;
  }

  .navigation-site {
    max-width: 400px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 1140px) {
  .header__top__content .store {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .navigation-site {
    display: none;
  }

  .country-block {
    display: none;
  }

  .header__top__content {
    max-width: 100%;
    flex-direction: row-reverse;
  }

  .header__top__content .phone-item a {
    font: 400 14px/23px Ubuntu;
  }
}

@media screen and (max-width: 768px) {
  .header__top {
    padding: 15px 15px;
  }

  .city .city-name {
    font: 500 14px/18px 'Ubuntu';
  }
}

/*header center*/

.header__center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 18px;
}

.header__center__left {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1040px;
}

.header__center_logo {
  margin-right: 63px;
}

.header__center .search-block {
  width: 100%;
  max-width: 780px;
}

.header__center .search-block input[type=text] {
  font: 400 12px/14px Ubuntu;
  color: #A6A6A6;
  padding: 12px 12px 12px 20px;
  border: none;
  background: #F8F8F8;
  width: 100%;
}

.button {
  -webkit-appearance: none;
}

.button.icon {
  text-indent: -9999px;
  background: none;
  border: 0;
  cursor: pointer;
}

.header__center .search-block .form-control1 {
  position: relative;
}

.header__center .search-block .button.icon {
  position: absolute;
  background-image: url("../assets/svg/search-icon.svg");
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  display: inline-block;
  padding: 0;
  right: 21px;
  top: 50%;
  transform: translateY(-50%);
}

.icons-list {
  display: flex;
  align-items: center;
}

.header__center .item-ico {
  position: relative;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: 0 100%;
}

.header__center .item-ico:first-child {
  margin-top: -10px;
}

.header__center .item-ico span {
  position: absolute;
  /*width: 18px;*/
  /*height: 18px;*/
  padding: 3px 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E35910;
  font: 400 12px/14px Ubuntu;
  color: #FFFFFF;
  border-radius: 50%;
  right: 0;
  top: -2px;
}

.header__center .item-ico:first-child span {
  padding: 2px 5px;
  top: 3px;
}

.header__center .item-ico.basket {
  background-image: url("../assets/svg/basket-icon.svg");
  margin-right: 40px;
}

.header__center .item-ico.delay {
  background-image: url("../assets/svg/like-icon.svg");
  background-position: 0 50%;
}

.form-control1__down {
  display: none;
}

.item-burger {
  display: none;
}

@media screen and (max-width: 1550px) {
  .header__center {
    padding: 20px 24px 18px;
  }
}

@media screen and (max-width: 1280px) {
  .header__center .search-block {
    margin-right: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .header__line:nth-child(2), .header__line:nth-child(3) {
    border: none;
  }

  .header__center .search-block {
    display: none;
  }

  .form-control1__down {
    display: block;
    position: relative;
    width: calc(100% - 48px);
    margin: 0 24px;
  }

  .form-control1__down .button.icon {
    position: absolute;
    background-image: url("../assets/svg/search-icon.svg");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
    padding: 0;
    right: 21px;
    top: 50%;
    transform: translateY(-50%);
  }

  .form-control1__down input[type=text] {
    font: 400 12px/14px Ubuntu;
    color: #A6A6A6;
    padding: 12px 12px 12px 20px;
    border: none;
    background: #F8F8F8;
    width: 100%;
  }

  .header__center_logo {
    margin-right: 0;
  }

  .header__center__left {
     width: auto;
     max-width: none;
  }

  .item-burger {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .header__center_logo {
    width: 110px;
  }

  .header__center_logo img {
    width: 100%;
  }

  .form-control1__down {
    width: calc(100% - 30px);
    margin: 0 15px;
  }

  .header__center .item-ico.basket {
    margin-right: 20px;
  }

  .header__center .item-ico.basket {
    width: 35px;
    margin-right: 20px;
    background-size: contain;
    margin-top: -14px;
  }

  .header__center .item-ico.delay {
    width: 30px;
    background-size: contain;
  }

  .header__center .item-ico span {
    position: absolute;
    padding: 3px 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E35910;
    font: 400 10px/100% Ubuntu;
    color: #FFFFFF;
    border-radius: 50%;
    right: -6px;
    top: 0;
  }

  .header__center .item-ico:first-child span {
    padding: 2px 5px;
    right: -3px;
    top: 8px;
  }
}

/*header down*/

.header__down {
  display: flex;
  align-items: center;
}

.header__down_catalog {
  display: flex;
  align-items: center;
  border-right: 1px solid #EDEDED;
  padding: 16px 40px 21px 0;
  font: 700 20px/23px 'Ubuntu';
  color: #222222;
  cursor: pointer;
}

.header__down_catalog span {
  margin-right: 40px;
}

.header__down ul.menu {
  position: relative;
  margin-left: 5px;
}

.header__down ul.menu li {
  padding: 0 35px;
  line-height: 1;
}

ul.menu li, ul.mini-menu li {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  line-height: 20px;
}

li {
  list-style-type: none;
}

.header__down ul.menu li a {
  font: 400 20px/23px Ubuntu;
  color: #5b5b5b;
}

.header__down ul.menu li a:hover {
  color: #DF570E;
}

@media screen and (max-width: 1550px) {
  .header__down_catalog {
    padding: 16px 40px 21px 24px;
  }
}

@media screen and (max-width: 1360px) {
  .header__down_catalog {
    font: 700 18px/23px 'Ubuntu';
  }

  .header__down ul.menu li {
    padding: 0 24px;
  }
}

@media screen and (max-width: 1215px) {
  .header__down ul.menu li {
    padding: 0 16px;
  }

  .header__down ul.menu li a {
    font: 400 18px/23px Ubuntu;
  }
}

@media screen and (max-width: 1060px) {
  .header__down ul.menu li {
    padding: 0 14px;
  }

  .header__down ul.menu li a {
    font: 400 17px/23px Ubuntu;
  }
}

@media screen and (max-width: 1024px) {
  .header__down ul.menu {
    display: none;
  }

  .header__down_catalog {
    display: none;
  }
}

/*Выпадающее меню услуг*/

.header__down ul.menu .menu__drop-down {
  display: none;
  position: absolute;
  top: 24px;
  left: -6px;
  width: calc(100vw - 274px);
  max-width: 1255px;
  padding-top: 18px;
  transition: .3s ease;
}

.header__down ul.menu .menu__drop-down .menu__drop-down__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 28px 20px 16px;
  border: 1px solid #EDEDED;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
}

.header__down ul.menu .menu__drop-down .menu__drop-down__wrapper .menu__drop-down__main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;
}

.header__down ul.menu div.menu_services:hover .menu__drop-down {
  display: block;
  transition: .3s ease;
}

.menu__drop-down__list {
  display: flex;
  flex-direction: column;
}

.menu__drop-down__list:nth-child(2) {
  margin-top: -5px;
}

.header__down ul.menu .menu__drop-down .menu__drop-down__list li {
  padding: 0;
  margin-bottom: 15px;
}

.header__down ul.menu .menu__drop-down .menu__drop-down__list li a {
  display: block;
  font: 400 14px/16px 'Ubuntu';
  color: #5B5B5B;
  max-width: 248px;
}

.header__down ul.menu .menu__drop-down .menu__drop-down__list li a:hover {
  color: #DF570E;
}

.header__down ul.menu .menu__drop-down .menu__drop-down__list li.menu__drop-down__title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.header__down ul.menu .menu__drop-down .menu__drop-down__list:nth-child(2) li.menu__drop-down__title{
  margin-bottom: 16px;
}

.header__down ul.menu .menu__drop-down .menu__drop-down__list li.menu__drop-down__title img {
  margin-right: 10px;
}

.header__down ul.menu .menu__drop-down .menu__drop-down__list li.menu__drop-down__title span {
  font: 500 16px/18px 'Ubuntu';
  color: #DF570E;
}

@media screen and (max-width: 1550px) {
  .header__down ul.menu .menu__drop-down {
    width: 100%;
  }
}