.content {
  display: flex;
  align-items: flex-start;
  max-width: 1530px;
  margin: 50px auto 0;
  width: 100%;
}

.content__main {
  border: 1px solid black;
  width: calc(100% - 356px);
}

.content__menu {
  width: 356px;
  margin-right: 34px;
}

.content__menu_item {
}

.content__menu_item-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 17px 15px 33px;
  background: #F8F8F8;
  border-radius: 2px;
  margin-bottom: 5px;
  cursor: pointer;
  font: 400 18px/21px 'Ubuntu';
  text-transform: uppercase;
  color: #5B5B5B;
}

.content__menu_item-active {
  background: linear-gradient(180deg, #FF762E 0%, #E35910 100%), #E35910;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  color: #FFFFFF;
  padding: 20px 17px 20px 33px;
}

.content__menu_item-block:hover .content__menu_item-text {
  color: #E35910;
}

.content__menu .content__menu_item-active:hover .content__menu_item-text {
  color: #FFFFFF;
}

.content__menu .content__menu_item-active .content__menu_item-img {
  display: none;
}

.content__submenu {
  display: none;
  flex-direction: column;
}

.content__submenu_active {
  display: block;
}

.content__submenu_item {
  display: flex;
  align-items: center;
  padding: 18px 14px;
  background: #F8F8F8;
  border-radius: 2px;
  margin-bottom: 5px;
}

.content__submenu_item span {
  margin-left: 6px;
  font: 400 16px/18px 'Ubuntu';
  color: #5B5B5B;
}

.content__submenu_item:hover span {
  color: #E35910;
}

@media screen and (max-width: 1024px) {
  .content__menu {
    display: none;
  }

  .content__main {
    width: 100%;
  }
}
